html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; }
#map_canvas { height: 100%; width: 100%; }

nav { display: inline-block; }
nav ul { padding-left: 40px; }
nav li { list-style: none; display: inline-block; padding: 0 5px; font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; cursor: pointer;}
header { color: rgb(240, 240, 240);padding-left: 30px; background: rgb(60, 60, 60); }
.headerLine { line-height: 1.8em; height: 1.8em; }

.title { letter-spacing: -.5px; font-size: 1.8em; display: inline-block; font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; }
a { color: white; text-decoration: none }

.login { font-size: 18px; z-index: 10000; padding: 10px; }
.login-text-and-button > div { display: inline-block; padding: 0 5px; }

.mindblow { width:10em; height: 10em; }

.userlist li { display: inline-block; }
