html { height: 100%; }
body { height: 100%; margin: 0; padding: 0; }
#map_canvas { height: 100%; width: 100%; }

nav { display: inline-block; }
nav li { list-style: none; display: inline-block; padding: 0 5px; font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; cursor: pointer; }
header { color: rgb(240, 240, 240); padding-left: 30px; background: rgb(60, 60, 60); }
.headerLine { line-height: 1.8em; height: 1.8em; }
.info { font-size: 0.7em; display: block; font-family: sans-serif; background: rgb(60, 60, 60); color: white; list-style: none; padding-left: 30px; padding-top: 10px; }

.title { font-size: 2.1em; display: inline-block; line-height: 1.8em; height: 1.8em; }
a { color: white; text-decoration: none }

.login { font-size: 18px; z-index: 10000; padding: 10px; }
.login-text-and-button > div { display: inline-block; padding: 0 5px; }

em { float: left; }

.userlist { height: 40px; overflow: auto; display: block; }
.userlist li { display: inline-block; padding: 5px 2px; font-family: sans-serif; }
